@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url("../assets/fonts/BarlowSemiCondensed-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'BarlowSemiCondensed-Bold';
    src: url("../assets/fonts/BarlowSemiCondensed-Bold.ttf") format("truetype");
}