$background-color: #161f40;
$white-color: #f9f9f9;
$button-color: #dedede;
$line-container: #55617a;
$label-color: #555265;
$paper-color: #4c69f4;
$paper-color-gradient: #19158c;
$scissors-color: #eda522;
$scissors-color-gradient: #a1650b;
$spock-color: #4bbcce;
$spock-color-gradient: #114abd;
$lizard-color: #8859e3;
$lizard-color-gradient: #590d85;
$rock-color: #de3a57;
$rock-color-gradient: #75061a;
$sign-color: #f7a047;

$spacing-base:1rem;
$padding-base: .5rem;
$border-radius-base: .6rem;
$letter-spacing-base: 1px;

$span-size: .7rem ;
$h2-size: 1.5rem;
$label-size: 1.8rem;
$p-size: .9rem;
$h5-size: 1rem;
$h5-size-small: .6rem;
$h3-size: 2rem;
$h3-size-big: 2.5rem;
$h6-size: .9rem;

$br: 'Barlow Semi Condensed';
$bb: 'BarlowSemiCondensed-Bold';

