#attribution{
    &.no-show{
        visibility: hidden;
    }
    &.show{
        visibility: visible;
    }
    width: 60%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: $padding-base*4;
    z-index: 0;
    @include mq('m'){
        padding: $padding-base*2;
    }
    a, i{
        color: $rock-color;
        font-weight: 700;
    }
}